{% extends "base.html" %}

{% block app_content %}
  <div class="container" id="simulation">
    {% from "_formhelpers.html" import render_field %}
    <form method="post" novalidate="novalidate" class="form">
      {{ updateForm.csrf_token }}
      {{ updateForm.hidden_tag() }}
      <div class="row">
        {% for field in updateForm %}
          <div class="form-group">
            {{ render_field(field) }}
          </div>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ updateForm.submit(class="btn btn-primary")}}
      </div>
    </form>

    <h4>Tasks</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Job Id</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Date</th>
          <th scope="col">Complete</th>
        </tr>
      </thead>
      <tbody>
        {% for task in session.get_all_tasks() %}
          <tr>
            <th scope="row">{{task.id}}</th>
            <td>{{task.job_id}}</td>
            <td>{{task.name}}</td>
            <td>{{task.date.strftime("%m/%d/%Y, %H:%M:%S") if task.date else ''}}</td>
            <td>{{task.complete}}</td>
            <td>{{task.get_progress()}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}