{% extends "base.html" %}

{% block app_content %}
  <h4>Flask Environment -
    {{ env }}</h4>
  <form action="" method="post" novalidate="novalidate">
    <p>
      {{ updateForm.start(size=32) }}
    </p>
    <p>
      {{ updateForm.end(size=32) }}
    </p>
    <p>
      {{ updateForm.period(size=32) }}
    </p>
    <p>{{ updateForm.submit() }}</p>
  </form>

  <div id='chart' class='chart' ”="”"></div>

  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
  <script type='text/javascript'>
    var graphs = {
      {
        graphJSON | safe
      }
    };
    Plotly.plot('chart', graphs, {});
  </script>

{% endblock %}