{% extends "base.html" %}

{% block app_content %}
  <div class="container" id="plots">
    {% from "_formhelpers.html" import render_field %}

    <form action="{{ url_for('plots') }}" method="post" novalidate="novalidate" class="form">
      {{ plotForm.csrf_token }}
      {{ plotForm.hidden_tag() }}
      <div class="row">
        {% for field in plotForm %}
          <div class="form-group">
            {{ render_field(field) }}
          </div>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ plotForm.submit(class="btn btn-primary")}}
      </div>
    </form>

    <form action="{{ url_for('displayPlots') }}" method="post" novalidate="novalidate" class="form">
      {{ displayPlotForm.csrf_token }}
      {{ displayPlotForm.hidden_tag() }}
      <div class="row">
        {% for field in displayPlotForm %}
          <div class="form-group">
            {{ render_field(field) }}
          </div>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ displayPlotForm.submit(class="btn btn-primary")}}
      </div>
    </form>

    <div id='chart' class='chart' ”="”"></div>

  </div>
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
  <script type='text/javascript'>
    var graphs = {{ graphJSON | safe }};
    Plotly.plot('chart', graphs, {});
  </script>
{% endblock %}
