{% extends "base.html" %}

{% block app_content %}
  <form action="" method="post" novalidate="novalidate">
    <div>Start Date</div>
    {{ simulateForm.start_date(class='datepicker') }}
    {{ simulateForm.hidden_tag() }}

    <div>End Date</div>
    {{ simulateForm.end_date(class='datepicker') }}
    {{ simulateForm.hidden_tag() }}

    <p>
      {{ simulateForm.principal(size=32) }}
    </p>
    <p>
      {{ simulateForm.lookback(size=32) }}
    </p>
    <p>
      {{ simulateForm.lookahead(size=32) }}
    </p>
    <p>
      {{ simulateForm.diversification(size=32) }}
    </p>
    <p>{{ simulateForm.submit() }}</p>
  </form>

{% endblock %}