{% extends "base.html" %}

{% block app_content %}
  <div class="container" id="simulation">
    {% from "_formhelpers.html" import render_field %}

    <form method="post" novalidate="novalidate" class="form">
      {{ simulateForm.csrf_token }}
      {{ simulateForm.hidden_tag() }}
      <div class="row">

        <div class="form-group">
          {{ render_field(simulateForm.start_date) }}
        </div>
        <div class="form-group">
          {{ render_field(simulateForm.end_date) }}
        </div>
      </div>
      <div class="form-group">
        {{ simulateForm.submit(class="btn btn-primary")}}
      </div>
    </form>
  </div>
{% endblock %}
