{% extends "base.html" %}

{% block app_content %}

<form action="" method="post" novalidate>
    <p>
        {{ simulateForm.start_date() }}
    </p>
    <p>
        {{ simulateForm.end_date() }}
    </p>
    <p>
        {{ simulateForm.principal(size=32) }}
    </p>
    <p>
        {{ simulateForm.principal(size=32) }}
    </p>
    <p>
        {{ simulateForm.lookback(size=32) }}
    </p>
    <p>
        {{ simulateForm.lookahead(size=32) }}
    </p>
    <p>
        {{ simulateForm.diversification(size=32) }}
    </p>
    <p>{{ simulateForm.submit() }}</p>
</form>

{% endblock %}